/******************************************************************************
          Name: styles.css
        Author: Chad Chapman
  Date Created: September 2, 2022
   Description: CSS style sheet for project landing page.
******************************************************************************/

/******************************************************************************
Classes and element selectors as encountered in order throughout the page.
******************************************************************************/
body {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    /* Set background image */
    background-image: url('../images/background.png');
    padding: 20px;
    color: black;
}

.content-area {
    /* Set max-width of content area. */
    max-width: 1000px;
    /* We want to senter the content area */
    margin-left: auto;
    margin-right: auto;

    /* Setting up flex */
    display: flex;
    flex-direction: column;
}

header {
    /* Setup padding. */
    padding-left: 50px;
    padding-right: 50px;

    /* Setup flex. */
    display: flex;
    flex-direction: column;
}

/* For title and links. */
.header-items {
    display: flex;
    flex-direction: row;
}

.title {
    display: flex;
    margin-right: auto;
}

/* Settings for page title in header element. */
h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    margin-left: auto;
    /* Removes dots on list items. */
    list-style-type: none;
}

main {
    /* Setting up flex for main section. */
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;  
}

h4 {
    color: #E5E7Eb;
    font-size: 16px;

    /* Setup display flex. */
    display: flex;
    
    /* Center text vertically */
    align-items: center;
    
    /* Adjust margins so text is in center. */
    margin-left: auto;
    margin-right: auto;
}

/******************************************************************************
Selectors for additional elements and classes.
******************************************************************************/
.hero-and-footer {
    background-color: #1f2937;
}