/******************************************************************************
          Name: styles.css
        Author: Chad Chapman
  Date Created: September 2, 2022
   Description: CSS style sheet for project landing page.
******************************************************************************/