/******************************************************************************
          Name: styles.css
        Author: Chad Chapman
  Date Created: September 2, 2022
   Description: CSS style sheet for project landing page.
******************************************************************************/

/******************************************************************************
Classes and element selectors as encountered in order throughout the page.
******************************************************************************/

/* Sets overall theme for the page.  Background image is also set here. */
body {
    font-family: Tahoma, Verdana, Arial, sans-serif;

    /* Set background image */
    background-image: url('../images/background.png');
    padding: 20px;
    color: black;
}

/* Main content area that appears in front of background image. */
.content-area {
    /* Set max-width of content area. */
    max-width: 1000px;

    /* We want to senter the content area */
    margin-left: auto;
    margin-right: auto;

    /* Setting up flex */
    display: flex;
    flex-direction: column;
}

/* Setup formatting for header section. */
header {
    /* Setup padding. */
    padding-left: 50px;
    padding-right: 50px;

    /* Setup flex. */
    display: flex;
    flex-direction: column;
}

/* For title and links. */
.header-items {
    display: flex;
    flex-direction: row;
}

/* Set formatting of title seen on top left of page. */
.title {
    display: flex;
    margin-right: auto;
}

/* Settings for page title in header element. */
h1 {
    font-size: 24px;
    color: #F9FAF8;
}

/* Formatting for links at top right corner of page. */
.links {
    column-gap: 1em;
    display: flex;
    margin-left: auto;

    /* Removes dots on list items. */
    list-style-type: none;
}

/* Describes section that contains the main left and right content sections. */
.info {
    padding: 40px 0 80px 0;
    display: flex;

    /* Set flex settings */
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;

    /* Set horizontal and vertical alignment. */
    align-items: center;
    justify-content: center;
}

/* Describes the left section of the information area. */
.left-section {
    height: 300px;
    width: 438px;

    /* Set display flex and settings. */
    display: flex;
    flex-direction: column;
}

/* Describes the main text of the left section of the div. */
.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;

    /* Set margin to reduce space between this class and 
        hero-secondary-text class. */
    margin-bottom: 0;
}

/* Describes the smaller text of the left-section. */
.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

/* Describes the right section of the information area. */
.right-section {
    height: 300px;
    width: 438px;
}

/* Main section that contains 3 content areas. */
main {
    /* Setting up flex for main section. */
    display: flex;

    /* We want all child elements in a column. */
    flex-direction: column;
}

/* First div in main section. */
.section-one {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Describes div for the section one header. */
.section-one-header {
    font-size: 36px;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #1F2937;
    display: flex;
    
    /* Set horizontal and vertical alignment. */
    justify-content: center;
}

/* Describes div that contains row of of images and its information. */
.section-one-elements {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    /* We want elements that contain images and info to be aligned in a row. */
    flex-direction: row;
    flex: wrap;

    /* Set row and column gaps. */
    row-gap: 10px;
    column-gap: 16px;
}

/* Class for formatting images and associated captions. */
.img-and-info {
    width: 233px;
    height: 300px;
    display: flex;

    /* We want each set of one image and its description arranged in a column. */
    flex-direction: column;
}

/* Selector for img element. */
img {
    border-style: solid;
    border-color: blue;
    border-radius: 5px;;
   
    /* Set some properties to img to make it fit properly. */
    height: 165px;
}

/* Selector for img-caption class. */
.img-caption {
    /* Make paragraph same width as img to make it fig properly. */
    padding-left: 15px;
    padding-right: 15px;

    /* We want text to be center aligned. */
    text-align: center;
}

/* Second div in main section. */
.section-two {
    background-color: #E5E7EB;
    
    /*We want padding so text does not take up entire area. */
    padding-left: 50px;
    padding-right: 50px;

    /* Set flex properties. */
    display: flex;
    flex-direction: column;

}

/* Selector for quotes-section class. */
.quotes-section {
    padding-bottom: 20px;
    
    /* set flex properties */
    display: flex;
    flex-direction: column;
}

/* Selector for quotes class. */
.quote {

}

/* selector for character class. */
.character {
    /* We want quotes to appear on the right. */
    text-align: right;
}
/* Third div in main section. */
.section-three {
    background-color: white;
    display: flex;
}

footer {
    display: flex;  
}

/* We use this for the footer text. */
h4 {
    color: #E5E7Eb;
    font-size: 16px;

    /* Setup display flex. */
    display: flex;
    
    /* Center text vertically */
    align-items: center;
    
    /* Adjust margins so text is in center. */
    margin-left: auto;
    margin-right: auto;
}

/******************************************************************************
Selectors for additional elements and classes.
******************************************************************************/
.hero-and-footer {
    background-color: #1f2937;
}

/* Set color of unvisited link. */
a:link {
    color: #E5E7EB;
}

/* Set color of visited link. */
a:visited {
    color: #E5E7EB; 
}